<style></style>

<h1>Hello World</h1>

<!-- _________________Exo27____________________ -->
<a no-open href="https://google.com">Google</a>
<br />
<!-- _________________Exo29____________________ -->
<a
  confirm
  confirm-message="Es tu sur de vouloir perdre du temps ?"
  href="https://twitter.com"
  >Twitter !!</a
>

<!-- _________________Lesson26____________________ -->
<p highlight26 background-color="green" base-color="purple">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ut,magnam
  blanditiis beatae natus ipsam nemo accusantium eveniet corrupti nulla, saepe
  reprehenderit, quia fuga est?
</p>

<p highlight26>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ut,magnam
  blanditiis beatae natus ipsam nemo accusantium eveniet corrupti nulla, saepe
  reprehenderit, quia fuga est?
</p>

<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ut,magnam
  blanditiis beatae natus ipsam nemo accusantium eveniet corrupti nulla, saepe
  reprehenderit, quia fuga est?
</p>

<!-- _________________Lesson35____________________ -->
<div
  user-profile36
  first-name="Karl"
  last-name="Gavillot"
  job="Informaticien"
></div>
<div user-profile first-name="Didier" last-name="Naccache" job="Retraité"></div>
<div
  user-profile36
  first-name="Michael"
  last-name="Koskasse"
  job="Banquier"
></div>
